<template>
    <div v-if="data.show" class="herovideo">
        <div class="container">
            <h1 v-if="data.title">{{data.title}}</h1>
            <h2 v-if="data.subtitle">{{data.subtitle}}</h2>
        </div>
        <video id="header-video"
            v-bind:src="$withBase(data.video)"
            playsinline=""
            muted="true"
            autoplay="true"
            loop="true">
        </video>
    </div>
</template>

<script>
export default {
    name: "HeroVideo",
    computed: {
        data () {
            let page    = this.$page.frontmatter.hero;
            let display = this.$page.frontmatter.hero ? true : false;
            return {
                show: display,
                title: page.title,
                subtitle: page.subtitle,
                video: page.video_src
            }
        }
    }
}
</script>

<style>
  .herovideo{
        width:100%;height:100%;
        overflow:hidden;
        position:relative;
        margin-bottom: 1rem;
    }
    .herovideo video{
        position:absolute;
        top:0;left:0;
        width:100%;height:auto;
        z-index:-1;
    }
    .herovideo .container{
        height:100%;width:100%;
        min-height: calc(100vw * 9 / 16);
        padding:var(--padding);
        display:flex;
        align-items:left;
        justify-content:center;
        flex-direction:column;
        flex-wrap:wrap;
    }
    .herovideo h1,
    .herovideo h2{
        transition: 0.4s ease all;
    }
    .herovideo h1{
        display:inline-block;
        color:var(--text);
        font-weight:bold;
        line-height:0.9;
    }
    .herovideo h2{
        font-weight:normal;
    }

    @media screen and (min-width: 1200px){
        .herovideo h1{
            transform: translate(0px, -10vh);
            font-size: 3rem;
        }
        .herovideo h2{
            transform: translate(0px, -10vh);
            font-size: 2.5rem;
        }
    }
    @media screen and (max-width: 800px){
        .herovideo h1{
            font-size: 1.6rem;
        }
        .herovideo h2{
            font-size: 1.2rem;
        }
    }

    .herovideo h1,.herovideo h2{
        text-shadow: 0px 0px 10px rgba(0,0,0,1.0);
    }
</style>