<template>
<nav>
    <a href="/" class="nostyle"><img id="logo" :src="$withBase('/media/logo-white.svg')" alt="LiveCode.NYC Logo" height="100"/></a>
    <ul class="reset">
        <li><a href="/events.html">Events</a></li>
        <li><a href="/members.html">Members</a></li>
        <li><a href="/tools.html">Tools</a></li>
        <li><a href="/contact.html">Contact</a></li>
    </ul>
</nav>
</template>

<script>
export default {

}
</script>

<style>
 nav{
        padding: var(--padding);
        display:flex;
        justify-content:space-between;
        align-items:center;

        background:var(--background);

        position:sticky;
        top:0;left:0;

        z-index:999;

        transition: 0.4s ease all;
    }
    nav ul.reset{
        list-style:none;
    }
    nav ul.reset li{
        display:inline-block;
    }
    nav ul.reset li a{
        color:#fff;
        margin-left: 1rem;
    }
    nav ul.reset li a:hover{
        color:var(--color);
        margin-left: 1rem;
    }

    @media screen and (max-width: 600px){
        nav {
            font-size: 0.8rem;
        }
    }

    a #logo{
        height: 2rem;
        display:inline;
        vertical-align:bottom;
    }
</style>