<template>
<div class="theme-container">
    <Nav/>
    <HeroVideo v-if="this.$page.path == '/'"/>
    <div class="container">
        <component :is="layout"/>
    <Footer/>
    </div>
</div>
</template>

<script>
import HeroVideo from './components/HeroVideo.vue';
import Nav from './components/Nav.vue';
import Footer from './components/Footer.vue';

import EventList from './views/EventList.vue';
import EventPage from './views/EventPage.vue';
import ToolList from './views/ToolList.vue';
import MemberList from './views/MemberList.vue';
import MemberPage from './views/MemberPage.vue';

import Page from './views/Page.vue';

export default {
    name: 'layout',
    components: {
        Nav,
        Footer,
        Page,
        MemberList,
        MemberPage,
        ToolList,
        HeroVideo,
        EventList,
        EventPage
    },
    computed: {
        layout(){
            // This is where routing happens
            const path = this.$page.path;
            if (path.includes('/members')){
                return 'MemberList';
            } else if (path.includes('/member')){
                return 'MemberPage';
            } else if (path.includes('/events')){
                return 'EventList';
            } else if (path.includes('/event')){
                return 'EventPage';
            } else if (path.includes('/tools')){
                return 'ToolList';
            } else if (path.includes('/act')){
                return 'MemberPage';
            }
                return 'Page';
        }
    }
}
</script>

<style>
    @import './style/main.styl';
</style>